<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>High Scores</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					<a class="navbar-brand" href="#">Tetris</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/">Play Tetris</a></li>
						<li class="active"><a href="#">See High Scores</a></li>
					</ul>
				</div>
			</div>
		</nav>
        <div class="jumbotron">
            <table id="example" class="display" style="width:50%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</body>

<script>
	function setupData() {
		$(document).ready(function () {
			$('#example').DataTable({
				"ajax": {
					// "url": "static/objects2.txt", // This works for a static file
					"url": "/get_high_scores", // This now also works
					"dataType": "json",
					"dataSrc": "data",
					"contentType":"application/json"
				},
				"columns": [
					{"data": "name"},
					{"data": "score"},

				]
			});
		});
	}

	$( window ).on( "load", setupData );
</script>

</html>
